<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>layout</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/blog.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-2.0.3.min.js}"/>
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a th:href="@{/}" class="navbar-brand">康草根</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" id="keywords"/>
                </div>
                <button type="button" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/blog}">博客</a></li>
                <li><a th:href="@{http://music.163.com/#/playlist?id=94401961}" target="_blank">网易云歌单</a></li>
                <li><a th:href="@{/cityInfo}" target="_blank">热点统计</a></li>
            </ul>
        </nav>
    </div>
</header>

<div layout:fragment="content"></div>

<div class="col-md-4">
    <div class="well text-center">
        <p class="lead">访问量：<span th:text="${blogNum}">1000</span></p>
    </div>

    <!-- Latest Posts -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>最新博客</h4>
        </div>
        <ul class="list-group">
                <li class="list-group-item" th:each="blog,blogStat : ${newBlogList}">
                    <a th:href="@{'/blogInfo/'+${blog.blogId}}" th:text="${blogStat.count} + '.' + ${blog.blogName}"></a>
                </li>
        </ul>
    </div>

    <!--&lt;!&ndash; Categories &ndash;&gt;
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>博客分类</h4>
        </div>
        <ul class="list-group" id="blogTypeList">
            <c:forEach items="${blogTypeList}" var="type">
                <li class="list-group-item"><a href="javascript:void(0);" onclick="getBlogByType('${type.typeName}');">${type.typeName}</a></li>
            </c:forEach>
        </ul>
    </div>

    &lt;!&ndash; Tags &ndash;&gt;
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>标签</h4>
        </div>
        <div class="panel-body">
            <ul class="list-inline">
                <c:forEach items="${blogTagList}" var="tag">
                    <li>${tag.tagName}</li>
                </c:forEach>
            </ul>
        </div>
    </div>

    &lt;!&ndash; Recent Comments &ndash;&gt;
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>阅读排行</h4>
        </div>
        <ul class="list-group">
            <c:forEach items="${readBlogList}" var="blog" varStatus="blogIndex">
                <li class="list-group-item"><a href="/blogInfo/${blog.blogId}">${blogIndex.count}. ${blog.blogName} (${blog.browse})</a></li>
            </c:forEach>
        </ul>
    </div>-->

</div>

<footer>
    <div class="container">
        <hr />
        <p class="text-center">Copyright &copy; <a style="color:gray" th:href="@{http://www.miitbeian.gov.cn}">粤ICP备16049960号</a></p>
    </div>
</footer>
</body>
</html>