<!DOCTYPE html>
<html lang="en" layout:decorator="common/adminLayout" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博客列表</title>
    <script src="/js/admin/blogList.js" ></script>
    <script th:inline="javascript">
        $(function(){
            blogList.init({
                blogCondition : [[${blogCondition}]]
            });
        });
    </script>
</head>

<body>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" layout:fragment="adminContent">
    <h2 class="sub-header">博客列表</h2>
    <div class="input-group" style="width: 250px;">
        <input type="text" class="form-control" id="blogCondition" placeholder="名称">
        <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="blogSearch">Search</button>
                </span>
    </div><br>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>类型</th>
                <th>访问量</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="blog : ${page.result}">
                <td th:text="${blog.blogId}">1</td>
                <td th:text="${blog.blogName}">Java历史</td>
                <td th:text="${blog.blogType}">Java</td>
                <td th:text="${blog.browse}">1000</td>
                <td th:text="${#dates.format(blog.time, 'yyyy-MM-dd HH:mm:ss')}">2017-08-04</td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav th:replace="common/pagination :: pagination"></nav>
</div>
</body>
</html>
