<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>博客首页</title>
    <link rel="stylesheet" href="/index/jquery.vidbacking.min.css" type="text/css">
    <link rel="stylesheet" href="/index/style.css" type="text/css">
</head>
<body>
<div>
    <section class="indeCnt">
        <div class="app_mask" id="app">
            <div class="app_mask_cnt"> <span class="l-loading"></span> </div>
        </div>
        <div class="index-aboutme gallayer zoom-show" >

        </div>
        <video poster="https://cdn.kcaogen.com/index.jpg" autoplay muted loop class="vidbacking">
            <source src="https://cdn.kcaogen.com/index.mp4" type="video/mp4">
        </video>

        <div class="scroll_play_wave_button" style="cursor: pointer; ">
            <div class="pulse_holder">
                <div class="pulse_marker">
                    <div class="scroll_cir">
                        <div class="scroll_cir2"></div>
                        <span class="percentage" style="font-size: 24px;"> blog</span>
                        <div class="cir0"></div>
                        <div class="cir1"></div>
                        <div class="cir2"></div>
                        <div class="cir3"></div>
                        <div class="cir4" onclick="location.href='/blog'"></div>
                    </div>
                </div>
            </div> <!-- / pulse_holder -->
        </div>
    </section>
</div>

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/index/jquery.vidbacking.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        $('body').vidbacking({
            'masked': true
        });
        var s=document.getElementsByClassName('app_mask')[0];
        setTimeout(function() {
            s.className+=' app_mask_out'
        },500);
        setTimeout(function() {
            s=document.getElementById("app")
            s.remove();
        },1100);
    });

</script>
</body>
</html>