<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>博客访问可视化</title>
</head>
<body>
<div id="main"></div>
</body>
<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/echarts.min.js"></script>
<script src="/js/china.js"></script>
<script th:inline="javascript">
    var data = JSON.parse([[${cityListJson}]]);
    var geoCoordMap = JSON.parse([[${geoCoordMap}]]);
</script>
<script src="/js/show/blogAccessShow.js"></script>
</html>