<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.caogen.blog.dao.AdminBlogDao">

    <sql id="blogListCondition">
        <if test="name != null and name != ''">
            WHERE blogName LIKE CONCAT('%',TRIM(#{name}),'%')
        </if>
    </sql>

    <select id="getBlogCount" resultType="java.lang.Long">
        SELECT COUNT(1) FROM k_blog
        <include refid="blogListCondition"/>
    </select>

    <!-- 小数据查询方式 -->
    <select id="getBlog" resultType="Blog">
        SELECT * FROM k_blog
        <include refid="blogListCondition"/>
        ORDER BY blogId DESC LIMIT #{offset}, #{pageSize}
    </select>

    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="blogId"
            parameterType="com.caogen.blog.entity.Blog">
        INSERT INTO k_blog
        (blogName, introduction, content,
        blogType, browse, praise, reprintedUrl)
        VALUES
        (#{blogName}, #{introduction},
        #{content}, #{blogType}, #{browse}, #{praise}, #{reprintedUrl})
    </insert>

    <insert id="insertBlogTagByBlogId" parameterType="java.util.List">
        INSERT INTO k_blog_tag(blogId, tagId)
        VALUES
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (#{item.blogId}, #{item.tagId} )
        </foreach>
    </insert>

    <delete id="delBlog">
        DELETE FROM  k_blog WHERE blogId = #{blogId}
    </delete>

    <delete id="delBlogTag">
        DELETE FROM  k_blog_tag WHERE blogId = #{blogId}
    </delete>

    <select id="getBlogById" resultType="Blog">
        SELECT * FROM k_blog WHERE blogId = #{blogId}
    </select>

    <select id="getBlogTagById" resultType="BlogTag">
        SELECT kbt.tagId, kb.tagName  FROM k_blog_tag kbt
        INNER JOIN k_blogtag kb ON kbt.tagId = kb.tagId
        WHERE kbt.blogId = #{blogId}
    </select>

    <update id="updateBlog">
        UPDATE k_blog SET blogName = #{blogName}, introduction = #{introduction},
        content = #{content}, blogType = #{blogType} , reprintedUrl = #{reprintedUrl}
        WHERE blogId = #{blogId}
    </update>

    <select id="getBlogTypeCount" resultType="java.lang.Long">
        SELECT COUNT(1) FROM k_blogtype
    </select>

    <!-- 小数据查询方式 -->
    <select id="getBlogType" resultType="BlogType">
        SELECT * FROM k_blogtype
        ORDER BY typeId DESC LIMIT #{offset}, #{pageSize}
    </select>

    <insert id="insertBlogType">
        INSERT INTO k_blogtype(typeName) VALUES (#{typeName})
    </insert>

    <select id="getBlogTagCount" resultType="java.lang.Long">
        SELECT COUNT(1) FROM k_blogtag
    </select>

    <!-- 小数据查询方式 -->
    <select id="getBlogTag" resultType="BlogTag">
        SELECT * FROM k_blogtag
        ORDER BY tagId DESC LIMIT #{offset}, #{pageSize}
    </select>

    <insert id="insertBlogTag">
        INSERT INTO k_blogtag(tagName) VALUES (#{tagName})
    </insert>

    <update id="updateBlogImg">
        UPDATE k_blog SET blogImg = #{blogImg} WHERE blogId = #{blogId}
    </update>

</mapper>